In [132]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

MAX_ROWS = 10
pd.set_option('display.max_rows', MAX_ROWS)
pd.set_option('display.max_columns', 200)
 
sns.set_style("whitegrid")
sns.set_context("paper")

plt.rcParams['figure.figsize'] = (20,10)

In [133]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
path_dataset = 'StudentsPerformance.csv'
df = pd.read_csv(path_dataset)

In [134]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [135]:
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])

df.gender.unique()

array([0, 1], dtype=int64)

In [136]:
le = LabelEncoder()
df['race/ethnicity'] = le.fit_transform(df['race/ethnicity'])

df['race/ethnicity'].unique()

array([1, 2, 0, 3, 4], dtype=int64)

In [137]:
le = LabelEncoder()
df['parental level of education'] = le.fit_transform(df['parental level of education'])

df['parental level of education'].unique()

array([1, 4, 3, 0, 2, 5], dtype=int64)

In [138]:
le = LabelEncoder()
df['lunch'] = le.fit_transform(df['lunch'])

df['lunch'].unique()

array([1, 0], dtype=int64)

In [139]:
le = LabelEncoder()
df['test preparation course'] = le.fit_transform(df['test preparation course'])

df['test preparation course'].unique()

array([1, 0], dtype=int64)

In [140]:
#df['meanScore'] =  (df['math score'] + df['reading score'] + df['writing score']) / 3

In [141]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,1,1,1,1,72,72,74
1,0,2,4,1,0,69,90,88
2,0,1,3,1,1,90,95,93
3,1,0,0,0,1,47,57,44
4,1,2,4,1,1,76,78,75

In [142]:
df.corr()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
gender,1.000,-0.002,0.002,0.021,-0.006,0.168,-0.244,-0.301
race/ethnicity,-0.002,1.000,-0.032,0.047,-0.018,0.216,0.145,0.166
parental level of education,0.002,-0.032,1.000,0.006,-0.024,-0.068,-0.072,-0.084
lunch,0.021,0.047,0.006,1.000,0.017,0.351,0.230,0.246
test preparation course,-0.006,-0.018,-0.024,0.017,1.000,-0.178,-0.242,-0.313
math score,0.168,0.216,-0.068,0.351,-0.178,1.000,0.818,0.803
reading score,-0.244,0.145,-0.072,0.230,-0.242,0.818,1.000,0.955
writing score,-0.301,0.166,-0.084,0.246,-0.313,0.803,0.955,1.000

In [143]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.neighbors import KNeighborsClassifier

In [144]:
x = df.drop(['parental level of education'], axis=1)
y = df['parental level of education']

# Realizá la separación a continuación en esta celda
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.20, stratify=y)

### Decision Tree

In [145]:
regressor = DecisionTreeClassifier(random_state=0, max_depth=12)
regressor.fit(x_test, y_test)
    
y_pred = regressor.predict(x_test)

In [146]:
accuracy_score(y_test, y_pred)

0.865

In [147]:
f1_score(y_test, y_pred, average='macro')

0.8662474327953636

In [148]:
input = [[1,2,1,1,76,78,75]]
pred = regressor.predict(input)
pred

array([2], dtype=int64)

## Random Forest

In [149]:
clf = RandomForestClassifier(n_estimators=10, max_depth=7, random_state=0)
clf.fit(x_test, y_test)

print(clf.feature_importances_)

[0.04977504 0.15275699 0.05822648 0.06697164 0.24477723 0.22797974
 0.19951287]

In [150]:
y_pred = clf.predict(x_test)

In [151]:
accuracy_score(y_test, y_pred)

0.825

In [152]:
f1_score(y_test, y_pred, average='macro')

0.8266322481560247

## KNN

In [153]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(x_train, y_train) 
y_pred = knn.predict(x_test)

In [154]:
accuracy_score(y_test, y_pred)

0.235

In [155]:
f1_score(y_test, y_pred, average='macro')

0.20133531623595677