In [10]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

MAX_ROWS = 10
pd.set_option('display.max_rows', MAX_ROWS)
pd.set_option('display.max_columns', 200)
 
sns.set_style("whitegrid")
sns.set_context("paper")

plt.rcParams['figure.figsize'] = (20,10)

In [2]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
path_dataset = 'StudentsPerformance.csv'
df = pd.read_csv(path_dataset)

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])

df.gender.unique()

array([0, 1], dtype=int64)

In [12]:
le = LabelEncoder()
df['race/ethnicity'] = le.fit_transform(df['race/ethnicity'])

df['race/ethnicity'].unique()

array([1, 2, 0, 3, 4], dtype=int64)

In [13]:
le = LabelEncoder()
df['parental level of education'] = le.fit_transform(df['parental level of education'])

df['parental level of education'].unique()

array([1, 4, 3, 0, 2, 5], dtype=int64)

In [14]:
le = LabelEncoder()
df['lunch'] = le.fit_transform(df['lunch'])

df['lunch'].unique()

array([1, 0], dtype=int64)

In [9]:
le = LabelEncoder()
df['test preparation course'] = le.fit_transform(df['test preparation course'])

df['test preparation course'].unique()

array(['none', 'completed'], dtype=object)