In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('marathon_results_2017.csv')

df.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,-,2:09:37,1,1,1
1,1,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2,2,2
2,2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,NaN,...,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,-,2:10:28,3,3,3
3,3,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,NaN,NaN,...,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,-,2:12:08,4,4,4
4,4,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:41,2:05:00,0:05:04,-,2:12:35,5,5,5

In [11]:
df.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [18]:
colnames = ['Unnamed: 0','Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall', 'Gender', 'Division']

df = pd.read_csv('marathon_results_2017.csv', index_col = 0, usecols = colnames)

df.head()

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,0:15:25,0:30:28,...,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,-,2:09:37,1,1,1
1,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,0:15:24,0:30:27,...,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2,2,2
2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,0:15:25,0:30:29,...,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,-,2:10:28,3,3,3
3,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,NaN,0:15:25,0:30:29,...,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,-,2:12:08,4,4,4
4,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,NaN,0:15:25,0:30:28,...,1:16:59,1:33:01,1:48:41,2:05:00,0:05:04,-,2:12:35,5,5,5

In [23]:
df.head().T

,0,1,2,3,4
Bib,11,17,23,21,9
Name,"Kirui, Geoffrey","Rupp, Galen","Osako, Suguru","Biwott, Shadrack","Chebet, Wilson"
Age,24,30,25,32,31
M/F,M,M,M,M,M
City,Keringet,Portland,Machida-City,Mammoth Lakes,Marakwet
State,NaN,OR,NaN,CA,NaN
Country,KEN,USA,JPN,USA,KEN
Citizen,NaN,NaN,NaN,NaN,NaN
5K,0:15:25,0:15:24,0:15:25,0:15:25,0:15:25
10K,0:30:28,0:30:27,0:30:29,0:30:29,0:30:28
15K,0:45:44,0:45:44,0:45:44,0:45:44,0:45:44
20K,1:01:15,1:01:15,1:01:16,1:01:19,1:01:15
Half,1:04:35,1:04:35,1:04:36,1:04:45,1:04:35
25K,1:16:59,1:16:59,1:17:00,1:17:00,1:16:59
30K,1:33:01,1:33:01,1:33:01,1:33:01,1:33:01
35K,1:48:19,1:48:19,1:48:31,1:48:58,1:48:41
40K,2:02:53,2:03:14,2:03:38,2:04:35,2:05:00
Pace,0:04:57,0:04:58,0:04:59,0:05:03,0:05:04
Proj Time,-,-,-,-,-
Official Time,2:09:37,2:09:58,2:10:28,2:12:08,2:12:35
Overall,1,2,3,4,5
Gender,1,2,3,4,5
Division,1,2,3,4,5

In [27]:
df.iloc[:, 8:20] = df.iloc[:, 8:20].apply(pd.to_timedelta)

df.dtypes

Bib                       object
Name                      object
Age                        int64
M/F                       object
City                      object
State                     object
Country                   object
Citizen                   object
5K               timedelta64[ns]
10K              timedelta64[ns]
15K              timedelta64[ns]
20K              timedelta64[ns]
Half             timedelta64[ns]
25K              timedelta64[ns]
30K              timedelta64[ns]
35K              timedelta64[ns]
40K              timedelta64[ns]
Pace             timedelta64[ns]
Proj Time        timedelta64[ns]
Official Time    timedelta64[ns]
Overall                    int64
Gender                     int64
Division                   int64
dtype: object

In [30]:
df['10K']

0       00:30:28
1       00:30:27
2       00:30:29
3       00:30:29
4       00:30:28
5       00:30:28
6       00:30:29
7       00:30:28
8       00:30:29
9       00:30:30
10      00:30:31
11      00:30:27
12      00:30:27
13      00:31:13
14      00:30:28
15      00:32:47
16      00:30:29
17      00:30:27
18      00:31:21
19      00:32:34
20      00:34:58
21      00:30:31
22      00:33:26
23      00:34:58
24      00:34:58
25      00:33:18
26      00:32:58
27      00:33:27
28      00:32:48
29      00:33:29
          ...
26380   01:10:13
26381   01:14:23
26382   01:09:43
26383   01:12:42
26384   01:11:58
26385   01:11:09
26386   01:11:12
26387   01:01:18
26388   01:24:52
26389   01:17:02
26390   01:17:33
26391   01:00:28
26392   01:24:29
26393   01:28:49
26394   01:24:33
26395   01:21:54
26396   01:17:02
26397   01:10:24
26398   00:54:42
26399   01:27:45
26400   00:42:11
26401   01:10:13
26402   00:47:20
26403   01:25:53
26404   01:10:33
26405   01:35:41
26406   01:05:33
26407   01:43:36
26408   01:27:19
26409   01:17:12
Name: 10K, Length: 26410, dtype: timedelta64[ns]