In [2]:
# Importar bibliotecas en esta celda
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [3]:
# La siguiente línea es para ver las imagenes dentro del notebook
%matplotlib inline
# Acá configuramos el tamaño de las figuras
plt.rcParams['figure.figsize'] = (12,8)
# Seteamos opciones de pandas sobre las columnas y su ancho
pd.set_option('max_columns', 120)
pd.set_option('max_colwidth', 5000)

In [4]:
df = pd.read_csv('./estimaciones.csv', parse_dates=True,delimiter=';', encoding='iso-8859-1')
df.head()

,provincia_id,nom_provincia,departamento_id,nom_depto,cultivo_id,nom_cultivo,campaña_id,campaña,sup_sembrada (hectareas),sup_cosechada(hectarea),produccion (toneladas),rendimiento (kg /ha)
0,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,1,1969/1970,3.0,3.0,10,3.333
1,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,1,1969/1970,15.0,15.0,82,5.467
2,6,BUENOS AIRES,21,ALBERTI,1,Ajo,1,1969/1970,5.0,5.0,7,1.400
3,6,BUENOS AIRES,28,ALMIRANTE BROWN,1,Ajo,1,1969/1970,2.0,2.0,8,4.000
4,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,1,1969/1970,6.0,6.0,15,2.500

In [63]:
df_trigo = df.loc[(df.nom_cultivo == 'Trigo') & (df.nom_depto == 'PUAN')]
df_trigo

,provincia_id,nom_provincia,departamento_id,nom_depto,cultivo_id,nom_cultivo,campaña_id,campaña,sup_sembrada (hectareas),sup_cosechada(hectarea),produccion (toneladas),rendimiento (kg /ha)
3876,6,BUENOS AIRES,651,PUAN,28,Trigo,1,1969/1970,247.00,242.00,311.600,1.288
7974,6,BUENOS AIRES,651,PUAN,28,Trigo,2,1970/1971,145.00,81.00,40.000,494.000
12072,6,BUENOS AIRES,651,PUAN,28,Trigo,3,1971/1972,190.00,180.00,171.000,950.000
16132,6,BUENOS AIRES,651,PUAN,28,Trigo,4,1972/1973,197.00,189.00,257.350,1.362
20212,6,BUENOS AIRES,651,PUAN,28,Trigo,5,1973/1974,175.00,171.00,230.000,1.345
24252,6,BUENOS AIRES,651,PUAN,28,Trigo,6,1974/1975,180.00,136.00,136.000,1.000
28260,6,BUENOS AIRES,651,PUAN,28,Trigo,7,1975/1976,190.00,180.00,180.000,1.000
32289,6,BUENOS AIRES,651,PUAN,28,Trigo,8,1976/1977,220.00,215.00,332.410,1.546
36426,6,BUENOS AIRES,651,PUAN,28,Trigo,9,1977/1978,130.00,125.00,150.000,1.200
40615,6,BUENOS AIRES,651,PUAN,28,Trigo,10,1978/1979,185.00,177.00,306.180,1.730
44839,6,BUENOS AIRES,651,PUAN,28,Trigo,11,1979/1980,125.00,124.00,136.400,1.100
48874,6,BUENOS AIRES,651,PUAN,28,Trigo,12,1980/1981,151.00,148.00,173.800,1.174
52714,6,BUENOS AIRES,651,PUAN,28,Trigo,13,1981/1982,165.00,160.00,83.600,523.000
56514,6,BUENOS AIRES,651,PUAN,28,Trigo,14,1982/1983,253.70,253.00,430.000,1.700
60270,6,BUENOS AIRES,651,PUAN,28,Trigo,15,1983/1984,238.10,231.20,369.900,1.600
63758,6,BUENOS AIRES,651,PUAN,28,Trigo,16,1984/1985,219.60,215.00,473.500,2.202
67151,6,BUENOS AIRES,651,PUAN,28,Trigo,17,1985/1986,160.00,160.00,288.000,1.800
70289,6,BUENOS AIRES,651,PUAN,28,Trigo,18,1986/1987,152.50,152.50,209.200,1.372
73160,6,BUENOS AIRES,651,PUAN,28,Trigo,19,1987/1988,150.00,150.00,244.200,1.628
75451,6,BUENOS AIRES,651,PUAN,28,Trigo,20,1988/1989,125.00,120.00,156.000,1.300
78132,6,BUENOS AIRES,651,PUAN,28,Trigo,21,1989/1990,150.00,148.00,281.200,1.900
80156,6,BUENOS AIRES,651,PUAN,28,Trigo,22,1990/1991,140.00,140.00,196.000,1.400
82309,6,BUENOS AIRES,651,PUAN,28,Trigo,23,1991/1992,125.00,125.00,225.000,1.800
84557,6,BUENOS AIRES,651,PUAN,28,Trigo,24,1992/1993,125.20,95.20,152.400,1.601
86929,6,BUENOS AIRES,651,PUAN,28,Trigo,25,1993/1994,115.20,115.20,195.800,1.700
89298,6,BUENOS AIRES,651,PUAN,28,Trigo,26,1994/1995,125.30,125.30,175.390,1.400
91683,6,BUENOS AIRES,651,PUAN,28,Trigo,27,1995/1996,105.30,90.30,94.800,1.050
94059,6,BUENOS AIRES,651,PUAN,28,Trigo,28,1996/1997,140.50,137.50,192.500,1.400
96181,6,BUENOS AIRES,651,PUAN,28,Trigo,29,1997/1998,116.50,116.50,291.300,2.500
98464,6,BUENOS AIRES,651,PUAN,28,Trigo,30,1998/1999,121.30,121.30,220.000,1.814
101380,6,BUENOS AIRES,651,PUAN,28,Trigo,31,1999/2000,126.30,106.30,108.500,1.021
103644,6,BUENOS AIRES,651,PUAN,28,Trigo,32,2000/2001,127.00,127.00,305.000,2.402
105364,6,BUENOS AIRES,651,PUAN,28,Trigo,33,2001/2002,141.30,138.40,320.000,2.312
106990,6,BUENOS AIRES,651,PUAN,28,Trigo,34,2002/2003,140.00,139.40,322.300,2.312
108754,6,BUENOS AIRES,651,PUAN,28,Trigo,35,2003/2004,111.30,111.30,166.950,1.500
110486,6,BUENOS AIRES,651,PUAN,28,Trigo,36,2004/2005,121.30,121.30,266.990,2.201
112216,6,BUENOS AIRES,651,PUAN,28,Trigo,37,2005/2006,111.30,90.90,72.720,800.000
113968,6,BUENOS AIRES,651,PUAN,28,Trigo,38,2006/2007,96.00,96.00,105.400,1.098
115815,6,BUENOS AIRES,651,PUAN,28,Trigo,39,2007/2008,86.30,81.20,162.400,2.000
117717,6,BUENOS AIRES,651,PUAN,28,Trigo,40,2008/2009,76.80,61.70,49.360,800.000
119590,6,BUENOS AIRES,651,PUAN,28,Trigo,41,2009/2010,42.88,28.46,22.938,806.000
121496,6,BUENOS AIRES,651,PUAN,28,Trigo,42,2010/2011,61.00,61.00,119.529,1.959
123327,6,BUENOS AIRES,651,PUAN,28,Trigo,43,2011/2012,86.00,86.00,214.700,2.497
125263,6,BUENOS AIRES,651,PUAN,28,Trigo,44,2012/2013,32.00,32.00,95.500,2.984
127152,6,BUENOS AIRES,651,PUAN,28,Trigo,45,2013/2014,61.00,61.00,134.200,2.200
128996,6,BUENOS AIRES,651,PUAN,28,Trigo,46,2014/2015,91.00,91.00,236.800,2.602
130797,6,BUENOS AIRES,651,PUAN,28,Trigo,47,2015/2016,46.62,45.62,145.383,3.187
132572,6,BUENOS AIRES,651,PUAN,28,Trigo,48,2016/2017,51.90,46.65,130.620,2.800
133478,6,BUENOS AIRES,651,PUAN,28,Trigo,49,2017/2018,62.36,61.36,184.080,3.000

In [65]:
df_trigo['campaña'] = df_trigo['campaña'].str.split('/')

/home/carloscba/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
df_trigo['inicio'] = df_trigo['campaña'].apply(lambda x : x[0])

/home/carloscba/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_trigo['inicio'] = df_trigo['campaña'].apply(lambda x : x[0])

In [69]:
df_trigo

,provincia_id,nom_provincia,departamento_id,nom_depto,cultivo_id,nom_cultivo,campaña_id,campaña,sup_sembrada (hectareas),sup_cosechada(hectarea),produccion (toneladas),rendimiento (kg /ha),inicio
3876,6,BUENOS AIRES,651,PUAN,28,Trigo,1,"[1969, 1970]",247.00,242.00,311.600,1.288,1969
7974,6,BUENOS AIRES,651,PUAN,28,Trigo,2,"[1970, 1971]",145.00,81.00,40.000,494.000,1970
12072,6,BUENOS AIRES,651,PUAN,28,Trigo,3,"[1971, 1972]",190.00,180.00,171.000,950.000,1971
16132,6,BUENOS AIRES,651,PUAN,28,Trigo,4,"[1972, 1973]",197.00,189.00,257.350,1.362,1972
20212,6,BUENOS AIRES,651,PUAN,28,Trigo,5,"[1973, 1974]",175.00,171.00,230.000,1.345,1973
24252,6,BUENOS AIRES,651,PUAN,28,Trigo,6,"[1974, 1975]",180.00,136.00,136.000,1.000,1974
28260,6,BUENOS AIRES,651,PUAN,28,Trigo,7,"[1975, 1976]",190.00,180.00,180.000,1.000,1975
32289,6,BUENOS AIRES,651,PUAN,28,Trigo,8,"[1976, 1977]",220.00,215.00,332.410,1.546,1976
36426,6,BUENOS AIRES,651,PUAN,28,Trigo,9,"[1977, 1978]",130.00,125.00,150.000,1.200,1977
40615,6,BUENOS AIRES,651,PUAN,28,Trigo,10,"[1978, 1979]",185.00,177.00,306.180,1.730,1978
44839,6,BUENOS AIRES,651,PUAN,28,Trigo,11,"[1979, 1980]",125.00,124.00,136.400,1.100,1979
48874,6,BUENOS AIRES,651,PUAN,28,Trigo,12,"[1980, 1981]",151.00,148.00,173.800,1.174,1980
52714,6,BUENOS AIRES,651,PUAN,28,Trigo,13,"[1981, 1982]",165.00,160.00,83.600,523.000,1981
56514,6,BUENOS AIRES,651,PUAN,28,Trigo,14,"[1982, 1983]",253.70,253.00,430.000,1.700,1982
60270,6,BUENOS AIRES,651,PUAN,28,Trigo,15,"[1983, 1984]",238.10,231.20,369.900,1.600,1983
63758,6,BUENOS AIRES,651,PUAN,28,Trigo,16,"[1984, 1985]",219.60,215.00,473.500,2.202,1984
67151,6,BUENOS AIRES,651,PUAN,28,Trigo,17,"[1985, 1986]",160.00,160.00,288.000,1.800,1985
70289,6,BUENOS AIRES,651,PUAN,28,Trigo,18,"[1986, 1987]",152.50,152.50,209.200,1.372,1986
73160,6,BUENOS AIRES,651,PUAN,28,Trigo,19,"[1987, 1988]",150.00,150.00,244.200,1.628,1987
75451,6,BUENOS AIRES,651,PUAN,28,Trigo,20,"[1988, 1989]",125.00,120.00,156.000,1.300,1988
78132,6,BUENOS AIRES,651,PUAN,28,Trigo,21,"[1989, 1990]",150.00,148.00,281.200,1.900,1989
80156,6,BUENOS AIRES,651,PUAN,28,Trigo,22,"[1990, 1991]",140.00,140.00,196.000,1.400,1990
82309,6,BUENOS AIRES,651,PUAN,28,Trigo,23,"[1991, 1992]",125.00,125.00,225.000,1.800,1991
84557,6,BUENOS AIRES,651,PUAN,28,Trigo,24,"[1992, 1993]",125.20,95.20,152.400,1.601,1992
86929,6,BUENOS AIRES,651,PUAN,28,Trigo,25,"[1993, 1994]",115.20,115.20,195.800,1.700,1993
89298,6,BUENOS AIRES,651,PUAN,28,Trigo,26,"[1994, 1995]",125.30,125.30,175.390,1.400,1994
91683,6,BUENOS AIRES,651,PUAN,28,Trigo,27,"[1995, 1996]",105.30,90.30,94.800,1.050,1995
94059,6,BUENOS AIRES,651,PUAN,28,Trigo,28,"[1996, 1997]",140.50,137.50,192.500,1.400,1996
96181,6,BUENOS AIRES,651,PUAN,28,Trigo,29,"[1997, 1998]",116.50,116.50,291.300,2.500,1997
98464,6,BUENOS AIRES,651,PUAN,28,Trigo,30,"[1998, 1999]",121.30,121.30,220.000,1.814,1998
101380,6,BUENOS AIRES,651,PUAN,28,Trigo,31,"[1999, 2000]",126.30,106.30,108.500,1.021,1999
103644,6,BUENOS AIRES,651,PUAN,28,Trigo,32,"[2000, 2001]",127.00,127.00,305.000,2.402,2000
105364,6,BUENOS AIRES,651,PUAN,28,Trigo,33,"[2001, 2002]",141.30,138.40,320.000,2.312,2001
106990,6,BUENOS AIRES,651,PUAN,28,Trigo,34,"[2002, 2003]",140.00,139.40,322.300,2.312,2002
108754,6,BUENOS AIRES,651,PUAN,28,Trigo,35,"[2003, 2004]",111.30,111.30,166.950,1.500,2003
110486,6,BUENOS AIRES,651,PUAN,28,Trigo,36,"[2004, 2005]",121.30,121.30,266.990,2.201,2004
112216,6,BUENOS AIRES,651,PUAN,28,Trigo,37,"[2005, 2006]",111.30,90.90,72.720,800.000,2005
113968,6,BUENOS AIRES,651,PUAN,28,Trigo,38,"[2006, 2007]",96.00,96.00,105.400,1.098,2006
115815,6,BUENOS AIRES,651,PUAN,28,Trigo,39,"[2007, 2008]",86.30,81.20,162.400,2.000,2007
117717,6,BUENOS AIRES,651,PUAN,28,Trigo,40,"[2008, 2009]",76.80,61.70,49.360,800.000,2008
119590,6,BUENOS AIRES,651,PUAN,28,Trigo,41,"[2009, 2010]",42.88,28.46,22.938,806.000,2009
121496,6,BUENOS AIRES,651,PUAN,28,Trigo,42,"[2010, 2011]",61.00,61.00,119.529,1.959,2010
123327,6,BUENOS AIRES,651,PUAN,28,Trigo,43,"[2011, 2012]",86.00,86.00,214.700,2.497,2011
125263,6,BUENOS AIRES,651,PUAN,28,Trigo,44,"[2012, 2013]",32.00,32.00,95.500,2.984,2012
127152,6,BUENOS AIRES,651,PUAN,28,Trigo,45,"[2013, 2014]",61.00,61.00,134.200,2.200,2013
128996,6,BUENOS AIRES,651,PUAN,28,Trigo,46,"[2014, 2015]",91.00,91.00,236.800,2.602,2014
130797,6,BUENOS AIRES,651,PUAN,28,Trigo,47,"[2015, 2016]",46.62,45.62,145.383,3.187,2015
132572,6,BUENOS AIRES,651,PUAN,28,Trigo,48,"[2016, 2017]",51.90,46.65,130.620,2.800,2016
133478,6,BUENOS AIRES,651,PUAN,28,Trigo,49,"[2017, 2018]",62.36,61.36,184.080,3.000,2017