In [2]:
# Importar bibliotecas en esta celda
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [3]:
# La siguiente línea es para ver las imagenes dentro del notebook
%matplotlib inline
# Acá configuramos el tamaño de las figuras
plt.rcParams['figure.figsize'] = (12,8)
# Seteamos opciones de pandas sobre las columnas y su ancho
pd.set_option('max_columns', 120)
pd.set_option('max_colwidth', 5000)

In [4]:
df = pd.read_csv('./estimaciones.csv', parse_dates=True,delimiter=';', encoding='iso-8859-1')
df.head()

,provincia_id,nom_provincia,departamento_id,nom_depto,cultivo_id,nom_cultivo,campaña_id,campaña,sup_sembrada (hectareas),sup_cosechada(hectarea),produccion (toneladas),rendimiento (kg /ha)
0,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,1,1969/1970,3.0,3.0,10,3.333
1,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,1,1969/1970,15.0,15.0,82,5.467
2,6,BUENOS AIRES,21,ALBERTI,1,Ajo,1,1969/1970,5.0,5.0,7,1.400
3,6,BUENOS AIRES,28,ALMIRANTE BROWN,1,Ajo,1,1969/1970,2.0,2.0,8,4.000
4,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,1,1969/1970,6.0,6.0,15,2.500

In [5]:
df_maiz = df.loc[(df.nom_cultivo == 'Maiz') & (df.nom_depto == 'PUAN')]

In [8]:
df_maiz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 2274 to 131736
Data columns (total 12 columns):
provincia_id                48 non-null int64
nom_provincia               48 non-null object
departamento_id             48 non-null int64
nom_depto                   48 non-null object
cultivo_id                  48 non-null int64
nom_cultivo                 48 non-null object
campaña_id                  48 non-null int64
campaña                     48 non-null object
sup_sembrada (hectareas)    48 non-null float64
sup_cosechada(hectarea)     48 non-null float64
produccion (toneladas)      48 non-null object
rendimiento (kg /ha)        48 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.9+ KB